<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}YUM!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>