<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newhunger="{{hunger}}">
		{{#if hunger}}Eat Me!{{else}}Make It Again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
